<!DOCTYPE html>
<html lang="en">

<head>

    <title><%= htmlWebpackPlugin.options.title %></title>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%= htmlWebpackPlugin.options.title %></a>
</nav>

<div class="container mt-2">
    <div id="demoArea" style="display: none">
        <h3>Demo</h3>
        <p id="demoText"></p>
        <button id="demoNextButton" type="button" class="btn btn-secondary">OK</button>
    </div>
    <div id="game" style="display: none">
        <div class="row align-items-center">
            <div class="col-4">
                <button id="leftButton" type="button" class="btn giant-button" disabled>
                    <!-- must register icons in js -->
                    <i id="leftAdvice" class="fas fa-user icon-hidden icon-hidden"></i>
                </button>
            </div>
            <div class="col-1">
            </div>
            <div class="col-2 text-center">
                <i id="gameLoading" class="fas fa-circle-notch fa-spin fa-2x" style="display: none"></i>
                <i id="makeDecision" class="fas fa-question-circle fa-2x" style="display: none"></i>
                <i id="yellowCorrect" class="fas fa-square fa-2x text-warning" style="display: none"></i>
                <i id="blueCorrect" class="fas fa-square fa-2x text-primary" style="display: none"></i>
            </div>
            <div class="col-1">
            </div>
            <div class="col-4">
                <button id="rightButton" type="button" class="btn giant-button" disabled>
                    <i id="rightAdvice" class="fas fa-user icon-hidden"></i>
                </button>
            </div>
        </div>
        <div id="pointsBar" class="progress mt-3 position-relative progress-bar-wide">
            <div id="currentPoints" class="progress-bar above-threshold" style="width: 0"></div>
        </div>
    </div>
    <hr id="advisorBarDivider" style="display: none">
    <div id="advisorBarArea" style="display: none">
        <h4>Hypothetical advisor goals</h4>
    </div>
    <div id="thankYou" style="display: none"></div>
</div>

</html>