<!DOCTYPE html>
<html lang="en">

<head>

    <title><%= htmlWebpackPlugin.options.title %></title>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%= htmlWebpackPlugin.options.title %></a>
</nav>

<div class="container mt-2">
    <div id="demoArea" style="display: none">
        <h3 id="demoHeading"></h3>
        <p id="demoText" class="text-with-whitespace"></p>
        <button id="demoNextButton" type="button" class="btn btn-secondary"></button>
    </div>
    <div id="game" style="display: none">
        <div class="row align-items-center">
            <div class="col-4">
                <button id="leftButton" type="button" class="btn giant-button" disabled>
                    <!--
                    must register icons in js
                    do not try to modify an <i> because it might change into <svg> at any time
                    instead, create a <span> or <div> around it
                    -->
                    <span id="leftAdvice" class="icon-hidden">
                        <i class="fas fa-user"></i>
                    </span>
                </button>
            </div>
            <div class="col-1">
            </div>
            <div class="col-2 text-center">
                <div id="gameLoading" style="display: none">
                    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                </div>
                <div id="makeDecision" style="display: none">
                    <i class="fas fa-question-circle fa-2x"></i>
                </div>
                <div id="yellowCorrect" style="display: none">
                    <i class="fas fa-square fa-2x text-warning"></i>
                </div>
                <div id="blueCorrect" style="display: none">
                    <i class="fas fa-square fa-2x text-primary"></i>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-4">
                <button id="rightButton" type="button" class="btn giant-button" disabled>
                    <span id="rightAdvice" class="icon-hidden">
                        <i class="fas fa-user"></i>
                    </span>
                </button>
            </div>
        </div>
        <div id="pointsBar" class="progress mt-3 position-relative progress-bar-wide">
            <div id="currentPoints" class="progress-bar above-threshold" style="width: 0"></div>
        </div>
    </div>
    <hr id="advisorBarDivider" style="display: none">
    <div id="advisorBarArea" style="display: none">
        <h4 id="advisorBarsHeading"></h4>
    </div>
    <div id="endScreen" style="display: none"></div>
</div>

</html>