<!DOCTYPE html>
<html lang="en">

<head>

    <title><%= htmlWebpackPlugin.options.title %></title>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%= htmlWebpackPlugin.options.title %></a>
</nav>

<div class="container mt-2">
    <div id="formArea"></div>
    <div id="game" style="display: none">
        <div class="row align-items-center">
            <div class="col-5 text-left">
                <div id="leftButtonOutline" class="button-outline">
                    <button id="leftButton" type="button" class="btn btn-warning giant-button" disabled>A</button>
                </div>
                <span id="leftIcons"></span>
            </div>
            <div class="col-2 text-center">
                <span id="statusText">
                    not started yet
                </span>
            </div>
            <div class="col-5 text-right">
                <span id="rightIcons"></span>
                <div id="rightButtonOutline" class="button-outline">
                    <button id="rightButton" type="button" class="btn btn-primary giant-button" disabled>B</button>
                </div>
            </div>
        </div>
        <div id="pointsBar" class="progress mt-3 position-relative">
            <div id="currentPoints" class="progress-bar above-threshold" style="width: 0"></div>
        </div>
    </div>
    <div id="thankYou" style="display: none"></div>
</div>

</html>