.big-text {
    font-size: 2rem;
}

.giant-button {
    font-size: 2.5rem;
    padding: 5rem;
    width: 100%;
    white-space: nowrap;
}

.icon-hidden {
    display: none;
}

.progress-bar-wide {
    height: 2rem;
    font-size: 1.3rem;
}

.progress-bar-threshold {
    height: 2rem;
    padding: 0 0.3rem;
    text-align: center;
    z-index: 100;
    position: absolute;
}

.above-threshold {
    z-index: 110;
}

.text-with-whitespace {
    white-space: pre-wrap;
}

.points {
    display: inline-block;
}