.big-text {
    font-size: 2rem;
}

.giant-button {
    font-size: 1.5rem;
    padding: 3rem 5rem;
}

.button-outline {
    display: inline-flex; /* prevents extra space when adding border */
}

.green-outline {
    margin: -0.5rem;
    border: 0.5rem solid lime;
}

.red-outline {
    margin: -0.5rem;
    border: 0.5rem solid red;
}

.progress-bar-threshold {
    height: 1rem;
    padding: 0 0.2rem;
    text-align: center;
    z-index: 100;
    position: absolute;
}

.above-threshold {
    z-index: 110;
}